/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Space+Grotesk:wght@300..700&family=Zen+Dots&display=swap");
@import "tailwindcss" /* CSS Reset */ /* Font-Declarations */ .space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Root */
:root {
  --background: #1a1025;
}
